*{
    padding: 0;
    margin: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

.green{
    color: green;
}

.red{
    color: red;
}

/* Main container  */

.main-container{
    height: auto;
    width: 100vw;
    font-weight: 300;
    font-size: 16px;
    background: #a39633;
    background: linear-gradient(355deg, rgba(163, 150, 51, 1) 31%, rgba(237, 221, 83, 1) 100%);
    color: white;
}

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
    .main-container {
        font-size: 14px;
        padding: 10px;
    }
}

/* Medium devices (tablets, 600px to 899px) */
@media (min-width: 600px) and (max-width: 899px) {
    .main-container {
        font-size: 15px;
        padding: 15px;
    }
}

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) {
    .main-container {
        font-size: 16px;
    }
}


/* header  */


header{
    min-height: 70px;
}

nav{
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    width: auto;
    height: 65px;
    width: 100vw;
    position: fixed;
    top: 0;
}

nav h2{
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: right;
    gap: 80px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    text-decoration: underline;
}

/* Small devices (phones, less than 600px) */
@media (max-width: 599px){

    nav{
        display: flex;
        justify-content: space-evenly;
    }


    nav ul li a{ 
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
    }

    nav h2{
        display: none;
    }
}



.Js-chapters{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.Js-chapters a{
    color: white;
    text-decoration: none;
}

.Js-chapters a:hover{
    text-decoration: underline;
    color: black;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

/* Small devices (phones, less than 600px) */
@media (max-width: 599px){
    .Js-chapters{
        font-size: 16px;
        font-weight: 700;
        align-items: center;
        gap: 30px;
    }
}